{% extends 'base.html' %}

{% block container %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Submissions</h1>
      <ul>
        <li>
          Talks: {{ num_talks }} total
          <ul>
            <li><a href="{{ url_for("manage.categorize_talks") }}">{{ num_without_category }} need categorization</a></li>
            <li><a href="{{ url_for("manage.anonymize_talks") }}">{{ num_without_anonymization }} need anonymization</a></li>
            <li><a href="{{ url_for("views.review_home") }}">View All</a></li>
          </ul>
        </li>
        <li>
          Demographic Surveys: {{num_surveys}} total, {{ num_non_man }} non-man, {{ num_non_white}} non-white
          <ul>
            <li><a href="{{ url_for("demographicsurvey.index_view") }}">View All</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
