/* sticky footer bootstrap template */
.main-container {
  min-height: 85vh;
}
.footer {
  width: 100%;
  padding: 20px 0;
}
.footer p {
  font-size: 80%;
  margin-bottom: 0;
}

/* fix bootstrap CSS for checkboxes */
input.form-control[type="checkbox"] {
  height: auto;
}
