{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}Vote on "{{ talk.anonymized_title }}" - {{ super() }}{% endblock %}

{% block morestyles %}
<style>
  form li {
    list-style-type: none;
  }
  form li input, form li label {
    display: inline;
  }
  {# FIXME: This form-control style is a hack, likely due to a bootstrap upgrade. This should be fixed properly. #}
  ul.form-control {
    height: auto;
  }
</style>
{% endblock %}

{% block container %}
<div class="row">
  <div class="col-lg-8">
    <div class="row">
      <div class="col"><h1>{{ talk.anonymized_title }}</h1></div>
      <div class="w-100"></div>
      <div class="col"><h4>{{ talk.talk_format.display_name() }}</h2></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-8">
    <div class="row">
      <div class="col">
        {{ talk.anonymized_description|markdown }}
      </div>
    </div>
    <div class="row border bg-light my-2 py-2">
      <div class="col"><h2>Outline:</h2></div>
      <div class="w-100"></div>
      <div class="col">
        {{ talk.anonymized_outline|markdown }}
      </div>
    </div>
    <div class="row border bg-light my-2 py-2">
      <div class="col"><h2>Audience Take-Aways:</h2></div>
      <div class="w-100"></div>
      <div class="col">
        {{ talk.anonymized_take_aways|markdown }}
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    {% if g.conference.voting_allowed %}
    <p>Should this talk be presented at {{ g.conference.informal_name }}?</p>
    {% if show_vote_form %}
      <form method="POST">
        {{ form.hidden_tag() }}
        {{ macros.render_error(form.action) }}
        {{ macros.render_error(form.value) }}
        {{ macros.render_field(form.value) }}
        <button type="submit" class="btn btn-primary" name="action" value="vote">Vote</button>
        <button type="submit" class="btn btn-light border" name="action" value="skip">Skip</button>
      </form>
    {% else %}
      {% if vote is none %}
      <p>You did not vote on this talk.</p>
      {% elif vote.value is not none %}
      <p>You voted: {{ vote_names[vote.value] }}</p>
      {% else %}
      <p>You skipped voting on this talk.</p>
      {% endif %}
      <hr>
    {% endif %}
    {% endif %}


    <p>If this proposal presents a code of conduct issue, please let the conduct team know.</p>
    <form method="POST" action="{{ url_for("views.conduct_report") }}">
      {{ conduct_form.hidden_tag() }}
      {{ macros.render_field(conduct_form.text, placeholder="The talk proposal presents a code of conduct issue because...") }}
      {{ macros.render_field(conduct_form.anonymous) }}
      <button type="submit" class="btn btn-primary btn-warning">Report</button>
    </form>

    {% if g.user.site_admin %}
    <hr>
    <p>Speaker feedback:</p>
    {% if g.conference.voting_allowed %}
    <p><em>New feedback cannot be sent to speakers during the voting window (speakers can not edit their proposal at this time)</em></p>
    {% else %}
    {{ macros.render_speaker_feedback_form(talk, feedback_form) }}
    <hr>
    {% endif %}

    {{ macros.render_past_feedback(talk) }}
    {% endif %}
  </div>
</div>
{% endblock %}
