{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}Categories - {{ super() }}{% endblock %}

{% block container %}
<h3 class="float-left">Talk Categories</h3>
<form class="float-md-right" method="POST" action="{{ url_for("views.clear_skipped_votes") }}">
  {{ clear_skipped_form.hidden_tag() }}
  <button type="submit" class="btn btn-primary">Clear Skipped Votes</button>
</form>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Talks Remaining</th>
    </tr>
  </thead>
  <tbody>
    {% for category, count in categories_counts.items() %}
      <tr>
        <td>
          <a href="{{ url_for("views.vote_choose_talk_from_category", category_id=category.category_id) }}">
            {{ category.name }}
          </a>
        </td>
        <td>
          {{ count }}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<h3>My Votes</h3>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">Talk</th>
      <th scope="col">Vote</th>
    </tr>
  </thead>
  <tbody>
    {% for vote in votes %}
      <tr>
        <td><a href="{{ url_for("views.vote", public_id=vote.public_id) }}">{{ vote.talk.title }}</a></td>
        <td>
          {{ macros.render_vote(vote, vote_label_map) }}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
