{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}{% if talk.title %}Edit "{{ talk.title }}"{% else %}New Talk{% endif %} - {{ super() }}{% endblock %}

{% block morestyles %}
{{ super() }}
<style type="text/css">
  textarea {
    min-height: 15rem;
  }
  ul#speakers {
    padding: 0;
  }
  ul#speakers li {
    list-style-type: none;
  }
</style>
{% endblock %}

{% macro render_talk_field(field, placeholder="", class_="form-control", disabled=False) -%}
{% if field.name in talk.VOTER_VISIBLE_FIELDS and not g.conference.editing_proposals_allowed %}
{{ macros.render_field(field, placeholder, class_, disabled=True) }}
<small class="form-text text-warning">The proposal editing window is closed, you cannot change this field.</small>
{# disabled fields don't submit, so include the existing value as hidden, to allow form validation to pass #}
<input type="hidden" name="{{ field.name }}" value="{{ field.data }}">
{% else %}
{{ macros.render_field(field, placeholder, class_, disabled) }}
{% endif %}
{%- endmacro %}

{% block container %}
{% if talk.has_anonymization_changes %}
<div class="alert alert-warning" role="alert">
  <p class="mt-3">
  This talk has been anonymized by the {{ g.conference.informal_name }}
  staff. Before making other changes, please <a href="{{ url_for("views.anonymized_talk", talk_id=talk.talk_id) }}">review
  the anonymized version</a>, and consider updating your talk for
  anonymous review.
  </p>
</div>
{% endif %}
<form method="post" class="pb-3">
  <div class="row">
    {% set field = form["title"] %}
    <div class="col-md-8 form-group">
      {{ macros.render_label(field, "Title") }}
      {{ render_talk_field(field, "My Incredible Talk") }}
      {{ macros.render_error(field) }}
    </div>

    {% set field = form["talk_format_id"] %}
    <div class="col-md-4 form-group">
      {{ macros.render_label(field, "Format") }}
      {{ render_talk_field(field, "") }}
      {{ macros.render_error(field) }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 form-group">
      <label>Speakers</label>
      <ul id="speakers">
        {% if talk.talk_id %}
        {% for speaker in talk.speakers %}
        <li>{{ speaker.user.fullname }} ({{ speaker.user.email }}) &mdash; <em>{{ speaker.state.name|title }}</em></li>
        {% endfor %}
        {% else %}
        <li>{{ g.user.fullname }} ({{ g.user.email }}) &mdash; <em>Confirmed</em></li>
        {% endif %}
      </ul>
      {% if talk.talk_id %}
      <a href="{{ url_for("views.edit_speakers", talk_id=talk.talk_id) }}" class="btn btn-outline-primary btn-sm">Manage Speakers</a>
      {% endif %}
    </div>
    <div class="col-md-4">
      <label></label>{# for spacing :( #}
      <small id="speakers-help" class="form-text text-muted">
        {% if talk.talk_id %}
        <p>
        Click "Manage Speakers" to invite additional speakers to your talk.
        Speakers must have an account, and must accept your invitation to
        co-present with you.
        </p>
        {% else %}
        <p>You may add additional speakers after you save this talk.</p>
        {% endif %}
      </small>
    </div>
  </div>
  <div class="row">
    {% set field = form["description"] %}
    <div class="col-md-8 form-group">
      {{ macros.render_label(field, "Description") }}
      {{ render_talk_field(field, "Markdown supports **bold**, _italic_, [links](http://www.example.com/), and lots more!") }}
      {{ macros.render_error(field) }}
    </div>
    <div class="col-md-4">
      <label></label>{# for spacing :( #}
      <small id="{{ field.id }}-help" class="form-text text-muted">
        <p>
        Your description should catch attendees' attention, and draw them
        in to your talk. What secrets will you reveal? How will the audience cringe or
        applaud at the stories you tell? What technique will they learn about
        that they don't yet know they need? Be persuasive and brief, attendees
        will have a lot of talks to read through.
        </p>
        <p>
        The description will be public in the conference program. The first
        paragraph may be excerpted in the talk list. Supports
        <a href="https://daringfireball.net/projects/markdown/syntax">Markdown</a>.
        </p>
      </small>
    </div>
  </div>
  <div class="row">
    {% set field = form["outline"] %}
    <div class="col-md-8 form-group">
      {{ macros.render_label(field, "Outline") }}
      {% if field.data %}
      {{ render_talk_field(field) }}
      {% else %}
      {{ render_talk_field(field, "It's nice to:\n\n* Format bullet points, using Markdown\n* So that\n    * You can write it easily, and\n    * It is nicely formatted for reviewers\n\nNote that you must indent each level of bullet points by exactly 4 spaces.") }}
      {% endif %}
      {{ macros.render_error(field) }}
    </div>
    <div class="col-md-4">
      <label></label>{# for spacing :( #}
      <small id="{{ field.id }}-help" class="form-text text-muted">
        <p>
        Your outline should answer the questions you posed in the description.
        It's one thing to tantalize your potential audience, but the voters and
        program committee will want to know more precisely what you plan to talk
        about. A good range for outlines is anywhere from 8 to 20 bullet points
        &mdash; more if your topic is especially subtle, or your talk especially
        deep, less if your description already provides sufficient detail.
        </p>
        <p>
        The outline will be made available to public voters and the program committee,
        but will <strong>not</strong> appear in the conference program. Supports
        <a href="https://daringfireball.net/projects/markdown/syntax">Markdown</a>.
        </p>
      </small>
    </div>
  </div>
  <div class="row">
    {% set field = form["take_aways"] %}
    <div class="col-md-8 form-group">
      {{ macros.render_label(field, "Audience Take-Aways") }}
      {{ render_talk_field(field, "Attendees will learn how to foo and bar with the baz library") }}
      {{ macros.render_error(field) }}
    </div>
    <div class="col-md-4">
      <label></label>{# for spacing :( #}
      <small id="{{ field.id }}-help" class="form-text text-muted">
        <p>
        Describe what attendees of your talk will learn from having attended.
        Will they be empowered to utilize a new tool in their work? Will they
        have a foundation on which to deepen their knowledge about a new
        technique? Will they understand common problems in a new light?
        </p>
        <p>
        Please be specific, as the program committee will use this to help
        understand the impact your talk will have on the {{ g.conference.informal_name }}
        audience. Supports
        <a href="https://daringfireball.net/projects/markdown/syntax">Markdown</a>.
        </p>
      </small>
    </div>
  </div>
  <div class="row">
    {% set field = form["requirements"] %}
    <div class="col-md-8 form-group">
      {{ macros.render_label(field, "Extra Requirements") }}
      {{ render_talk_field(field, "Because I am planning to smash watermelons with a sledge hammer, the conference should provide wet-weather gear to attendees in the first five rows") }}
      {{ macros.render_error(field) }}
    </div>
    <div class="col-md-4">
      <label></label>{# for spacing :( #}
      <small id="{{ field.id }}-help" class="form-text text-muted">
        <p>
        If your talk has any special requirements, please note them here.
        If your talk is accepted, we will provide equipment for recording
        your talk from home.
        </p>
        <p>
        This field will not be shown to public voters, but will be available
        to the program committee. If your talk has truly unusual requirements,
        we may not be able to accept it. We may not be able to accommodate extra
        requirements added after the close of the CfP.
        </p>
      </small>
    </div>
  </div>
  <div class="row">
    {% set field = form["accepted_recording_release"] %}
    <style type="text/css">#release input{display: inline-block} #release label{display: block}</style>
    <div class="col-md-8 form-group" id="release">
      {{ macros.render_label(field, "Recording Release") }}
      {{ render_talk_field(field, class_="form-check") }}
      <span class="text-muted">I accept the {{ g.conference.full_name }} <a href="{{ g.conference.recording_release_url }}">recording release</a></span>
      {{ macros.render_error(field) }}
    </div>
    <div class="col-md-4">
      <label></label>{# for spacing :( #}
      <small id="{{ field.id }}-help" class="form-text text-muted">
        <p>
        Because it is an online-only event featuring pre-recorded talks, you
        must accept the recording release in order to be considered for PyGotham TV.
        </p>
      </small>
    </div>
  </div>
  <div class="row">
    <div class="col-md-auto">
      <button type="submit" class="btn btn-primary">Save &amp; Preview</button>
    </div>
    <div class="col-md-6">
      <small id="{{ field.id }}-help" class="form-text text-muted" style="margin-top:0">
        On the next page, you'll have a chance to see what your rendered proposal
        will look like to the voters and program committee. You can edit your talk
        until voting begins.
      </small>
    </div>
  </div>
  {{ form["csrf_token"] }}
</form>
{% endblock %}
