{% extends "base.html" %}

{% block morestyles %}
<style type="text/css">
  .jumbotron {
    background-color: #d3d3d3;
    padding: 1rem;
  }
  .jumbotron img {
    margin-left: 2rem;
  }
  @media (max-width: 991.98px) {
    /* Bootstrap "medium" and smaller screens */
    .jumbotron img {
      max-width: 33%;
    }
  }
  .jumbotron h1 {
    color: #353535;
  }
  .jumbotron a:not(.btn), .jumbotron a:not(.btn):visited {
    color: #3b7bb1;
  }
  .jumbotron {
    color: #353535;
  }
</style>
{% endblock %}

{% block metas %}
{{ super() }}
    <meta name="twitter:card" content="summary_large_image">
    {% if g.conference.creating_proposals_allowed %}
    <meta name="twitter:title" content="{{ g.conference.informal_name }} Call for Proposals is Open!">
    <meta name="twitter:description" content="If you have something that Pythonistas want to hear about, propose a talk! {{ g.conference.informal_name }} CFP open through {{ g.conference.proposals_end|strftime('%B %-d', aoe) }}.">
    {% elif g.conference.voting_allowed %}
    <meta name="twitter:title" content="Vote on {{ g.conference.informal_name }} Talk Proposals!">
    <meta name="twitter:description" content="Help us pick the talks that will end up in {{ g.conference.informal_name }}! Cast your vote through {{ g.conference.voting_end|strftime('%B %-d', aoe) }}">
    {% else %}
    <meta name="twitter:title" content="{{ g.conference.informal_name }} Call for Proposals">
    <meta name="twitter:description" content="The {{ g.conference.informal_name }} Call for Proposals isn't active right now{% if g.conference.twitter_username %} -- follow {{ g.conference.twitter_username }} for conference announcements{% endif %}.">
    {% endif %}
    <meta name="twitter:image" content="{{ url_for("static", filename="pygotham-twitter-card.jpg", _external=True) }}">
    <meta name="twitter:image:alt" content="{{ g.conference.full_name }} Logo">
    {% if g.conference.twitter_username %}
    <meta name="twitter:creator" content="@{{ g.conference.twitter_username }}">
    <meta name="twitter:site" content="@{{ g.conference.twitter_username }}">
    {% endif %}
{% endblock %}

{% block container %}
<div class="jumbotron">
  <img src="{{ url_for("static", filename="pygotham-tv-logo.png") }}" align="right">
  <h1 class="display-4">Call for Proposals</h1>
  <p class="lead">
  PyGotham TV is back! We're hosting an online-only event again this year,
  looking for both traditional tech talks, and short film submissions for the
  PyGotham Film Festival. See <a href="#format">below</a> for more
  info about both formats in this year's PyGotham.
  </p>
  {% if g.conference.creating_proposals_allowed %}
  <p>
    <strong>There's still time!</strong>
    Our Call for Proposals is open through {{ g.conference.proposals_end|strftime("%B %-d", aoe) }}, <a href="https://time.is/Anywhere_on_Earth">Anywhere on Earth</a>.
  </p>
  <br>
  <a class="btn btn-lg btn-light border" href="{{ url_for("views.create_talk") }}">
    {% if g.user.is_anonymous %}Log In and{%endif %}
    Propose a Talk Now
  </a>
  {% elif g.conference.voting_allowed %}
  <p>
    <strong>Help us pick the talks that make the conference!</strong>
    Cast your votes to tell us which talks you'd like to see at {{ g.conference.informal_name }}.
  </p>
  <a class="btn btn-lg btn-light border" href="{{ url_for("views.vote_home") }}">
    {% if g.user.is_anonymous %}Log In and{%endif %}
    Vote Now
  </a>
  {% else %}
  <p>
    Unfortunately, our Call for Proposals is over.
    {% if g.conference.voting_window_after_now %}
    We're anonymizing all the proposals, and getting ready to start voting
    on {{ g.conference.voting_window.start|strftime("%A, %B %-d") }}.
    {% else %}
    For the latest information about {{ g.conference.informal_name }}, head to
    <a href="{{ g.conference.website }}">the main {{ g.conference.informal_name }} site</a>.
    {% endif %}
  </p>
  {% endif %}
  <br style="clear:both">
</div>
<div class="row py-3">
  <div class="col">
    <a name="format">
    <h2>The TV Format</h2>

    <p>We're accepting two kinds of proposals this year: standard tech talks,
    which should be 10 or 25 minutes long, and short films, which can range
    from 5 to 15 minutes. All talks and films will be pre-recorded, and
    presented in a single track during the conference.
    </p>

    <p>PyGotham has always asked for talks covering “anything that would be of
    interest to the Python community”, and this year is no different. So long
    as your talk or film’s topic is relevant to members of the Python
    community, it’s up for proposal and consideration. PyGotham typically
    includes presentations on topics such as web and systems development,
    machine learning and data science, tech ethics, and community building.
    These categories of topics (and more) are all still welcome at this year’s
    festival, and we invite presenters to view them through a different lens
    than they normally might.
    </p>

    <p>For your inspiration, here are some example films from the first PyGotham TV:</p>
    <ul>
      <li><a href="https://2020.pygotham.tv/talks/a-monte-carlo-murder-mystery-a-holmes-watson-pymc3-adventure/">A Monte Carlo Murder Mystery: A Holmes-Watson-PyMC3
          adventure!</a></li>
      <li><a href="https://2020.pygotham.tv/talks/former-hacker-reviews-iconic-python-rust-hacking-scenes-from-movies-tv/">Former Hacker Reviews Iconic Python/Rust Hacking Scenes From Movies &amp;
          TV</a></li>
      <li><a href="https://www.youtube.com/watch?v=D1FpYhDDjvQ">I am the very model of a modern Django
          ModelForm</a></li>
      <li><a href="https://2020.pygotham.tv/talks/the-detective-has-arrived/">The Detective Has Arrived</a></li>
    </ul>


    <p>We understand that not everyone has experience recording and editing
    videos, but rest assured that we will be providing resources to assist with
    this. As in previous years, we'll again provide professional speaker
    coaching free of charge. Stay tuned for more details.</p>

    <h2>Who should propose? What topics are OK?</h2>

    <p>Anyone interested in speaking is encouraged to propose a talk. There
    are no restrictions on topics, but we recommend they be of interest to
    Pythonistas.</p>

    <p>We are looking for speakers of all different speaking and Python
    experience levels, from first-timers to veterans. Our audience will be
    equally diverse, so feel free to cater your talk to any level.</p>

    <p>Everyone, no matter their job, age, background, or level of experience has
    something interesting to share. Even you! You've developed a technique, or
    discovered a library, squashed a bug or solved a problem. Whatever it may
    be, PyGotham wants to hear your story. Won't you share it with us?</p>

    <h3>Looking for Ideas?</h3>

    <p>One of the best ways to come up with an idea is to think about something
    you want to learn about. It’s a great way to learn about the topic and
    you’ll be able to share your insights with the audience.</p>

    <p>Another great source of topics is challenges you’ve recently overcome.
    Did you recently use a unique profiler to identify a performance
    bottleneck? Perhaps you had to dive deep into a protocol or library and
    discovered something everyday users might not know. Stories like these
    are usually full of great tips and tricks to share.</p>

    <p>Still looking for ideas? Here are some ideas to help get you started:</p>

    <ul>
      <li>What’s new in web frameworks this year</li>
      <li>How to design software for safety and reliability</li>
      <li>Ethics of big data and software development</li>
      <li>Effective use of linters and other static analysis tools</li>
      <li>Recent changes to standard Python tools</li>
    </ul>

    <p>Also see the talks from
    <a href="https://2021.pygotham.tv/talks/">2020</a>,
    <a href="https://2020.pygotham.tv/talks/">2020</a>, and
    <a href="https://2019.pygotham.org/talks/">2019</a> for ideas.</p>

    <h3>Talk Selection</h3>

    <p>PyGotham’s review process happens in two phases: immediately after
    the CFP closes, we will have a round of public voting on anonymized proposals, so that
    we can get a feel for which of the talks are of greatest interest to our
    audience. After that, the program committee will assemble the final
    schedule using the ratings as a guide.</p>

    <p>We will share information on how to sign up for voting
    on <a href="{{ g.conference.website }}">the {{ g.conference.informal_name }} website</a>
    near the end of the CFP.</p>

    <h2>OK, I'm sold!</h2>

    <p>
    Fantastic! If you have an idea, turning it into a proposal is a
    snap -- why not <a href="{{ url_for("views.create_talk") }}">propose
    a talk</a> right now?
    </p>

    <h2>About {{ g.conference.full_name }}</h2>

    <p>{{ g.conference.full_name }} is taking place October 6-7, with a single track of talks
    presented online.</p>

    <h3>Background</h3>

    <p>PyGotham is a New York City based, eclectic, Py-centric conference
    covering many topics. There’s a diverse speaker list, and some things which
    will be quite different. PyGotham attracts developers of various
    backgrounds and skill levels from the New York metropolitan area and
    beyond. Activities include two full days of talks and lightning talk sessions.
    </p>

    <h3>History</h3>

    <p>PyGotham began in 2011 and was comprised largely of the NYC Python
    community. Since then, the conference has taken place (almost) every year
    and grown significantly. While the conference has gotten larger, PyGotham
    has always been and remains a conference for developers and run by
    developers.</p>

    <h3>Who?</h3>

    <p>PyGotham is a production of <a href="https://bigapplepy.org/">Big Apple Py</a>
    and made possible by a very generous and overworked group of volunteers.
    To reach them, send a message to
    <a href="mailto:organizers@pygotham.org">organizers@pygotham.org</a>.</p>

  </div>
</div>
</div>
{% endblock %}
