{% macro render_field(field, placeholder="", class_="form-control", disabled=False) -%}
{% if disabled != True %}
{% set disabled = False %}
{% endif %}
{{ field(
  placeholder=placeholder,
  class_=class_,
  aria_describedby=field.id + "-help",
  disabled=disabled,
) }}
{%- endmacro %}

{% macro render_label(field, label) -%}
<label for="{{ field.id }}"{% if field.errors %} class="text-danger"{% endif %}>{{ label }}</label>
{%- endmacro %}

{% macro render_error(field) -%}
{% if field.errors -%}
<small class="form-text text-danger">{{ field.errors|join(";") }}</small>
{%- endif %}
{%- endmacro %}

{% macro render_vote(vote, vote_label_map) -%}
{% if vote.value is not none %}
  {{ vote_label_map[vote.value] }}
{% elif vote.skipped %}
  Skipped
{% else %}
  Pending
{% endif %}
{%- endmacro %}

{% macro render_speaker_feedback_form(talk, form) -%}
<style type="text/css">
  form.talk-feedback input[type="text"] {
    margin-bottom: 1rem;
  }
  form.talk-feedback textarea {
    min-height: 10rem;
    margin-bottom: 1rem;
  }
</style>
<p>The email sent to the speakers will be from {{ g.conference.cfp_email }}, and will include
an explanation that their talk is still anonymous, unless they choose to reply to the email.</p>
<form method="POST" action="{{ url_for("manage.talk_feedback", talk_id=talk.talk_id) }}" class="talk-feedback">
  {{ render_label(form.subject, "Subject") }}
  {{ render_field(form.subject) }}
  {{ render_error(form.subject) }}

  {{ render_label(form.subject, "Message") }}
  {{ render_field(form.message) }}
  {{ render_error(form.message) }}

  <button class="btn btn-primary">Send Feedback</button>
  {{ form["csrf_token"] }}
</form>
{%- endmacro %}

{% macro render_past_feedback(talk) -%}
<style type="text/css">
  .past-feedback small {
    margin-bottom: 0px;
  }
  .past-feedback small p {
    margin-bottom: 0px;
  }
</style>
<p>Past feedback:</p>

{% if talk.feedback %}
<ul class="list-group">
{% for talk_feedback in talk.feedback %}
  <li class="list-group-item past-feedback">
    <p>{{ talk_feedback.message }}</p>
    <small class="text-muted">
      <p>Sent {{ talk_feedback.created|timesince }} by {{ talk_feedback.sender.fullname }}</p>
    </small>
  </li>
{% endfor %}
</ul>
{% else %}
<p><em>No feedback sent for this talk.</em></p>
{% endif %}
{%- endmacro %}
