{% extends "base.html" %}

{% block title %}Preview "{{ talk.title|default("Talk") }}" - {{ super() }}{% endblock %}

{% block container %}
<div class="row">
  <div class="col-lg-8">
    <div class="row">
      <div class="col"><h1>{{ talk.title }}</h1></div>
      <div class="w-100"></div>
      <div class="col"><h4>{{ talk.talk_format.display_name() }}</h2></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-8">
    <div class="row">
      <div class="col">
        {{ talk.description|markdown }}
      </div>
    </div>
    <div class="row border bg-light my-2 py-2">
      <div class="col"><h2>Outline:</h2></div>
      <div class="w-100"></div>
      <div class="col">
        {{ talk.outline|markdown }}
      </div>
    </div>
    <div class="row border bg-light my-2 py-2">
      <div class="col"><h2>Audience Take-Aways:</h2></div>
      <div class="w-100"></div>
      <div class="col">
        {{ talk.take_aways|markdown }}
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <em class="text-muted">Reviewers will see voting instructions here.</em>
  </div>
</div>
<div class="row py-3">
  <div class="col">
    <a class="btn btn-primary" href="{{ url_for("views.talks_list") }}">Save &amp; Return</a> or
    <a class="btn btn-light border" href="{{ url_for("views.edit_talk", talk_id=talk.talk_id) }}">Edit Again</a>
  </div>
</div>
{% endblock %}
