{% extends "base.html" %}

{% block container %}
<div class="row py-3">
  <div class="col">
    <h1>Yak-Bak Privacy Policy</h1>
    <h2>Information we collect</h2>

    <p>We collect names and email addresses. If you volunarily provide it, we
    additionally collect Twitter handles, and biographical and demographic
    information such as your age, gender, ethnicity, and past speaking
    experience.</p>

    <p>If you log in using Google OAuth or GitHub OAuth, we automatically
    collect your e-mail address and name from those services in order to
    pre-populate your profile.</p>

    <h2>What we do with this information</h2>

    <p>We take privacy very seriously. We use your name and email address only
    to contact you regarding your proposals for talks at conferences which use
    Yak-Bak to administer their calls for proposals. Conference organizers may
    use collected information for additional purposes, as described by their
    respective privacy policies. Outside of conference organizers, the Yak-Bak
    administrators do not share any collected information with third
    parties.</p>
  </div>
</div>
</div>
{% endblock %}
