{% extends "base.html" %}

{% block title %}Talks - {{ super() }}{% endblock %}

{% macro vitals(talk) %}
{% set speakers = talk.speakers|map(attribute="user") %}
{% set other_speakers = speakers|remove(user)|map(attribute="fullname")|list %}
{% if other_speakers|length > 1 %}
({{ talk.talk_format.display_name() }}, {{ other_speakers|join(", ") }}, and You)
{% elif other_speakers|length == 1 %}
({{ talk.talk_format.display_name() }}, {{ other_speakers|join("") }} and You)
{% else %}
({{ talk.talk_format.display_name() }})
{% endif %}
{% endmacro %}

{% block container %}
{% if prompt_for_survey %}
<div class="alert alert-info" role="alert">
  <p class="mt-3">Thanks for submitting {% if num_talks == 1 %}a talk{% else %}talks{% endif %}!
  In order to help us ensure a diverse and inclusive {{ g.conference.informal_name }},
  please consider filling out the <a href="{{ url_for("views.demographic_survey") }}">demographic
  survey</a>.</p>
  <p>You may <a href="{{ url_for("views.demographic_survey_opt_out") }}">opt
  out</a> to dismiss this message.</p>
</div>
{% endif %}
{% if prompt_for_bio %}
<div class="alert alert-info" role="alert">
  <p class="mt-3">Thanks for submitting {% if num_talks == 1 %}a talk{% else %}talks{% endif %}!
  Please add a <a href="{{ url_for("views.user_profile") }}">speaker biography</a> to your profile,
  for inclusion in the conference program.
  </p>
</div>
{% endif %}

{% macro talk_table(talks) %}
{% for talk in talks %}
  <div class="row py-2 border-top border-right border-left{% if loop.last %} border-bottom{% endif %}">
    <div class="col-md-7 talk">
      <a href="{{ url_for("views.edit_talk", talk_id=talk.talk_id) }}">{{ talk.title|truncate(100) }}</a>
      {{ vitals(talk) }}
    </div>
    <div class="col-md-5 text-right">
      Updated {{ talk.updated|timesince }}
      <a href="{{ url_for("views.edit_speakers", talk_id=talk.talk_id) }}" class="btn btn-outline-primary btn-sm ml-2">Manage Speakers</a>
      {% for label, cls, view in talk_actions[talk.state] %}
      <a href="{{ url_for(view, talk_id=talk.talk_id) }}" class="btn btn-outline-{{cls}} btn-sm">{{ label }}</a>
      {% endfor %}
    </div>
    {% if talk.has_anonymization_changes %}
    <div class="col-md-12 mt-2">
      <div class="alert alert-warning my-0 pt-1 pb-2" role="alert">
        <small>
        This talk has anonymization changes. Please <a href="{{ url_for("views.anonymized_talk", talk_id=talk.talk_id) }}">review
        the anonymized version</a>, and consider updating your talk for
        anonymous review.
        </small>
      </div>
    </div>
    {% endif %}
  </div>
{% endfor %}
{% endmacro %}

{% set has_proposed_talks = proposed_talks|length > 0 %}
{% set has_withdrawn_talks = withdrawn_talks|length > 0 %}

<div class="row py-3">
  <div class="col">
    <h3>{% if has_withdrawn_talks %}Proposed {% endif %}Talks:</h3>
    {% if has_proposed_talks %}
    {{ talk_table(proposed_talks) }}
    {% else %}
    <div class="row py-2 border-top border-right border-left border-bottom">
      <div class="col-md-12">
        <em>
          No talks yet.
          {% if g.conference.creating_proposals_allowed %}
            Why not <a href="{{ url_for("views.create_talk") }}">add one now?</a>
          {% endif %}
        </em>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% if g.conference.creating_proposals_allowed %}
<div class="row py-2">
  <div class="col text-right">
    <a class="btn btn-primary" href="{{ url_for("views.create_talk") }}">Add Talk</a>
  </div>
</div>
{% endif %}
{% if has_withdrawn_talks %}
<div class="row py-3">
  <div class="col">
    <h3 class="my-3">Withdrawn Talks:</h3>
    <p><em>Withdrawn talks will not be considered for inclusion in {{ g.conference.informal_name }}.</em></p>
    {{ talk_table(withdrawn_talks) }}
  </div>
</div>
{% endif %}

{% if invitations|length > 0 %}
  <div class="row py-3">
    <div class="col">
      <h3>Speaker Invitations:</h3>
    </div>
  </div>
  {% for invitation in invitations %}
    <div class="row py-2 border-top border-right border-left{% if loop.last %} border-bottom{% endif %}">
      <div class="col-md-9 talk">
        {{ invitation.talk.title|truncate(100) }}
        {{ vitals(invitation.talk) }}
      </div>
      <div class="col-md-3 text-right">
        {% for label, cls, view in speaker_actions[invitation.state] %}
        <a href="{{ url_for(view, talk_id=invitation.talk.talk_id) }}" class="btn btn-outline-{{cls}} btn-sm">{{ label }}</a>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
  <div class="row py-2">
    <div class="col text-right">
      <a class="btn btn-primary" href="{{ url_for("views.create_talk") }}">Add Talk</a>
    </div>
  </div>
{% endif %}
{% endblock %}
