{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}Categories - {{ super() }}{% endblock %}

{% block container %}
<h3 class="float-left">{% if category %}Talks in "{{ category.name }}"{% else %}Uncategorized Talks{% endif %}</h3>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Vote Score</th>
      <th scope="col">Your Vote</th>
    </tr>
  </thead>
  <tbody>
    {% for talk in talks %}
      <tr>
        <td>
          {{ talk.talk_id }}
        </td>
        <td>
          <a href="{{ url_for("views.review_talk", talk_id=talk.talk_id) }}">
            {{ talk.title }}
          </a>
        </td>
        <td>
          {{ talk.vote_score }}
        </td>
        <td>
          {% set vote = votes.get(talk.talk_id) %}
          {{ macros.render_vote(vote, vote_label_map) }}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
