{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}Categories - {{ super() }}{% endblock %}

{% block morestyles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
{% endblock %}

{% block container %}
<h3>Talk Categories</h3>
<p>
  <a href="{{ url_for("views.review_spreadsheet_all") }}">Unified Review CSV <i class="bi-filetype-csv"></i></a>
</p>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Talks</th>
      <th scope="col">CSV</th>
    </tr>
  </thead>
  <tbody>
    {% for category, count in categories %}
      <tr>
        <td>
          <a href="{{ url_for("views.review_category", category_id=category.category_id) }}">
            {{ category.name }}
          </a>
        </td>
        <td>
          {{ count }}
        </td>
        <td>
          <a href="{{ url_for("views.review_spreadsheet", category_id=category.category_id) }}"><i class="bi-filetype-csv"></i></a>
        </td>
      </tr>
    {% endfor %}
    {% if uncategorized_talks_count > 0 and g.user.is_site_admin %}
      <tr>
        <td>
          <a href="{{ url_for("views.review_uncategorized") }}">
            Uncategorized Talks
          </a>
          <div class="alert alert-warning my-0 mt-2 pt-1 pb-2" role="alert">
            <small>
              Some talks are uncategorized, you should
              <a href="{{ url_for("manage.categorize_talks") }}">categorize them</a>.
            </small>
          </div>
        </td>
        <td>
          {{ uncategorized_talks_count }}
        </td>
      </tr>
    {% endif %}
  </tbody>
</table>
{% endblock %}
